:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Poppins", sans-serif;
  --nav-font: "Poppins", sans-serif;

  /* Light Mode (default) */
  --LightText: black;
  --LightBody: white;
  --NavbarBg: #0d6efd;
  --NavbarItemBg: #17202a;
  --DarkHoverBg: #030827; /*dark blue color*/
  --DarkShadow-1: #00000033;
  --DarkShadow-2: #00000030;
  --AboutImage: url('media/images/hero-bg-1.jpg');
  --border: #1f5297;
  --ServiceBoxBorder: #d5dbdb;
  --ServiceBoxBg: #d6eaf8;
  --ServiceBoxText: #17202a;

}

.DarkTheme {
  /* Dark Mode */
  --LightText: white;
  --LightBody: #003465;
  --NavbarBg: #17202a;
  --NavbarItemBg: #0d6efd;
  --DarkHoverBg:  #2e86c1 ; /*light blue color*/
  --DarkShadow-1: #00000033;
  --DarkShadow-2: #00000030;
  --AboutImage: url('media/images/hero-bg-2.png');
  --border: #0d6efd;
  --ServiceBoxBorder: #d5dbdb;
  --ServiceBoxBg: #0e1d34;
  --ServiceBoxText: #f4d03f;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
/*  color: var(--LightText);*/
background-color: var(--LightBody);
font-family: var(--default-font);
}

a {
  color: var(--LightText);
  text-decoration: none;
  transition: 0.3s;
}

/*a:hover {
  color: red;
  text-decoration: none;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--LightText);
  font-family: var(--heading-font);
}
.navbar{
  background-color: var(--NavbarBg);
  color: var(--LightText);
}
.navbar-brand{
  color: var(--LightText);
  font-size: 24px;
}
@media (max-width:400px){
 .navbar-brand{
  font-size: 14px;
}
#ToggleThemeBtn{
  font-size: 14px;
} 
}
.nav-link{
  border-radius: 7px;
  transition: 0.5s ease;
  font-weight: bold;
  color: white;
}
.nav-link:hover{
  background-color: var(--NavbarItemBg);
  color: white;
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
#TopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
/*  background-color: #0e1d34;*/
color: var(--LightText);
cursor: pointer;
padding: 15px;
border-radius: 4px;
}

#TopBtn:hover {
  background-color: var(--DarkHoverBg);
}


section,
.section {
  /* color: var(--default-color);
  background-color: var(--background-color); */
  padding: 60px 0;
  scroll-margin-top: 98px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 56px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 11px 23px;
  margin: 0;
  xbackground: var(--DarkHoverBg);
  background: #030827;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: var(--default-font);
}

.section-title p {
  color: var(--LightText);
  margin: 10px 0 0 0;
  font-size: 32px;
  font-weight: 500;
  font-family: var(--heading-font);
}
@media (max-width:768px){
  .section-title p{
    font-size: 25px;
  }
}
@media (max-width:400px){
  .section-title p{
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# Go to top button
--------------------------------------------------------------*/
#GoTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

#GoTopBtn:hover {
  background-color: #3a65fc;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
/*  background-color: #0e1d34;*/
/*background-image: url("media/images/hero-img2.png");*/

color: var(--LightText);
width: 100%;
min-height: 100vh;
position: relative;
padding: 50px 0 60px 0;
}
@media (max-width:768px){
  .hero{
    min-height: 50vh;

  }
}

.hero .hero-bg {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .container {
  position: relative;
}

.hero h2 {
  margin-bottom: 20px;
  padding: 0;
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 575px) {
  .hero h2 {
    font-size: 30px;
  }
}

.hero p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero .HeroContent h1:nth-child(1){
  font-size: 100px;
  padding-bottom: 0px;
}
.HeroContent h3:nth-child(1){
  font-size: 50px;
}
.BeforeName{
  font-size: 80px;
}
#name{
  font-size: 80px;
}
#TypingText #BeforeText{
  font-size: 30px;
}

@media (max-width: 768px){
  .HeroContent h3:nth-child(1){
    font-size: 30px;
  }
  #TypingText {
    font-size: 20px;
  }
  #TypingText #BeforeText{
    font-size: 20px;
  }
  .hero-img{
    display: none;
  }
  .hero .HeroContent{
    padding: 20px 40px;
  }
  /*.hero .HeroContent h1:nth-child(1){
    font-size: 90px;
    padding-bottom: 0px;
  }*/
  .BeforeName{
    font-size: 40px;
  }
  .HeroContent #name{
    font-size: 40px;
  }
  #HeroHireBtn{
    font-size: 24px;
  }
}

@media (max-width: 400px){
  .HeroContent h3:nth-child(1){
    font-size: 25px;
  }

  #TypingText {
    font-size: 18px;
  }
  #TypingText #BeforeText{
    font-size: 18px;
  }
  .BeforeName{
    margin-top: 10px;
    font-size: 24px;
    padding-right: 10px;
  }
  .HeroContent #name{
    margin-top: 10px;
    font-size: 24px;
  }
  #HeroHireBtn{
    margin-top: 20px;
    font-size: 15px;
  }
}

#AboutSection{
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}
#AboutSection .img-fluid {
  border-radius: 7px;
  position: relative;
  height: 75%;
}

#AboutSection h1 {
  font-size: 40px;
  font-weight: 700;
  color:var(--LightText);
}

#AboutSection h5 {
  font-size: 20px;
  font-weight: 500; 
  line-height: 30px;
  word-spacing: 4px;
}
#AboutSection a{
  font-size: 20px;
  margin-left: 20px;
}

#AboutSection p {
  font-size: 30px;
}
@media (max-width:400px){
  #AboutSection .img-fluid {
    height: 300px;
  }
  #AboutSection .card-body{
    padding: 10px 0px 10px 0px;
  }
  #AboutSection h1{
    font-size: 30px;
    padding-top: 20px;
    width: 100%;
  }
  #AboutSection h5{
    width: 100%;
    font-size: 15px;
    line-height: 22px;
  }
  #AboutSection a{
    font-size: 15px;
    margin-left: 15px;
  }
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.ServiceBox{
  box-shadow: 0 4px 8px 0 var(--DarkShadow-1), 0 6px 20px 0 var(--DarkShadow-2);
  font-family: "Poppins",  sans-serif;
  font-weight: bold;
  /*  color: var(--LightText);*/
  word-spacing: 5px;
  padding: 20px 20px 0px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0px 30px;
  /*  border: 2px solid #d5dbdb;*/
  border: 2px solid var(--ServiceBoxBorder);
  /*  background-color: #d6eaf8;*/
  background-color: var(--ServiceBoxBg);
  transition: 0.5s ease all;
  color: var(--ServiceBoxText);
}
.ServiceBox p i{
  font-weight: thin;
  color: #d35400 ;
}
.ServiceBox:hover{
  border: 2px solid var(--ServiceBoxBorder);
  /*  background-color: #0e1d34;*/
  background-color: var(--ServiceBoxBg);
  /*  color: #f4d03f;*/
  color: var(--ServiceBoxText);
}

@media (max-width: 768px){
  #services .ServiceDesc{
    display: none;
  }
  #services .Image{
    display: none;
  }
  #services .col-sm-6{
    padding-top: 30px;
  }
  .ServiceBox{
    word-spacing: 2px;
    padding: 10px 0px 0px;
    font-size: 15px;
    border-radius: 0px 20px;
    min-width: 220px;
    max-width: 220px;
  }
}

@media (max-width: 400px){
  #services .ServiceDesc{
    display: none;
  }
  #services .Image{
    display: none;
  }
  #services .col-sm-6{
    padding-top: 30px;
  }
  .ServiceBox{
    word-spacing: 2px;
    padding: 10px 0px 0px;
    font-size: 12px;
    border-radius: 0px 20px;
    min-width: 150px;
    max-width: 150px;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#SkillsSection #SecondRow{
  margin-top: 70px;
}
@media (max-width:768px){
  #SkillsSection #SecondRow{
    margin-top: 0px;
  } 
}
#SkillsSection{
  margin-top: -50px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
@media (max-width:768px){
  .PortfolioText{
    font-size: 10px;
  }
}





/*----- for Line -----*/
.resume .resume-item {
  padding: 0 0 20px 25px;
  margin-top: -2px;
  border-left: 3px solid var(--border);
  position: relative;
}
/*----- for circle in Line -----*/
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  left: -11px;
  top: 0;
  background: var(--LightBody);
  border: 3px solid var(--border);

}
.resume-item-content{
  background-color: #d6eaf8;
  border-radius: 10px;
  font-weight: bold;
}
.resume-item-content p{
  font-size: 25px;
}
.resume-item-content p a{
  padding: 5px;
  border-radius: 5px;
  color:  #21618c ;
  font-size: 20px;
  background-color: #aed6f1 ;
  transition: 0.3s ease all;
}
.resume-item-content p a:hover{
  background-color:  var(--DarkHoverBg) ;
  color: white ;
}
.resume-item-content .score{
  margin-top: -10px;
  font-size: 20px;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 10px;
}
.resume .resume-item h2{
  color: black;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

@media (max-width:400px){
  .resume .resume-item {
    padding: 0 0 15px 20px;
    margin-top: -2px;
    border-left: 3px solid var(--border);
    position: relative;
  }
  .resume .resume-item .resume-item-content h2{
    font-size: 22px;
  }
  .resume .resume-item .resume-item-content h5:nth-child(3){
    font-size: 12px;
  }
  .resume .resume-item .resume-item-content p span{
    font-size: 18px;
  }
  .resume .resume-item .resume-item-content p a{
    font-size: 14px;
  }
}


.Myskills {
  width: 190px;
  height: 190px;
  position: relative;
}

.outer {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: relative;
  background-color:  #ccd1d1 ;
}

.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  width: 190px;
  height: 190px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width:768px){
  .Myskills{
    margin-bottom: 60px;
  }
}
  /*

  .Myskills, .outer, svg, .inner{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Myskills, .outer, svg{
    width: 220px;
    height: 220px;
  }
  .inner{
    width: 150px;
    height: 150px;
  }
}*/

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 40px;
  stroke-dasharray: 534; /* Updated circumference for r=85 */
  stroke-dashoffset: 534; /* Updated circumference for r=85 */
  transition: stroke-dashoffset 2s linear;
}

.Wordpress-show-progress circle {
  /*  534-(% to show x 534)  */
  stroke-dashoffset: 110; /* 80% */
}

.JavaScript-show-progress circle {
  stroke-dashoffset: 135; /* 75% */
}

.PHP-show-progress circle {
  stroke-dashoffset: 160; /* 70% */
}

.SQL-show-progress circle {
  stroke-dashoffset: 200; /* 60% */
}

.HTML-show-progress circle {
  stroke-dashoffset: 90; /* 90% */
}

.CSS-show-progress circle {
  stroke-dashoffset: 90; /* 90% */
}

.Bootstrap-show-progress circle {
  stroke-dashoffset: 110; /* 80% */
}

.React-show-progress circle {
  stroke-dashoffset: 160; /* 70% */
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.contact label{
  color: var(--LightText);
}
.contact .info-item+.info-item {
  margin-top: 40px;
}
.contact .info-item p{
  color: var(--LightText);
}

.contact .info-item i {
  color: var(--LightText);
  background: var(--DarkHoverBg);
  font-size: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .php-email-form {
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #0e1d34;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid red;
  border-top-color: green;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--LightText);
  background-color: var(--LightBody);
  border-color: #0e1d34;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: darkblue;
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: gray;
}

.contact .php-email-form button[type=submit] {
  color: white;
  background: var(--DarkHoverBg);
  border: 3px solid var(--DarkHoverBg);
  padding: 7px 27px;
  transition: 0.4s;
  border-radius: 4px;
  font-size: 20px;
}

.contact .php-email-form button[type=submit]:hover {
  background: var(--LightBody);
  border: 3px solid var(--DarkHoverBg);
  color: var(--DarkHoverBg);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

footer i{
  color: white;
  cursor: pointer;
}
footer i:hover{
  color: #f1c40f ;
}